<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
</head>
<body class="box-border flex">
    <header class="fixed top-0 w-full shadow-md z-10">
        {% include "components/navbar.html" %}
    </header>
    <main class="m-16"> <!-- Margin added to compensate for the fixed navbar height -->
        {% block body %}
        {% endblock %}
    </main>
</body>
</body>
</html>
