@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


// Define custom colors and propreties
$purple: hsl(284, 95%, 56%);
$primary-color: hsl(204, 86%, 53%);
$primary-color-dark: hsl(204, 100%, 40%);
$primary-color-light: hsl(204, 86%, 70%);
$primary-color-lighter: hsl(204, 86%, 90%);


@import "bulma/sass/utilities/_all";
@import "bulma/sass/base/_all";
@import "bulma/sass/elements/_all";
@import "bulma/sass/components/_all";

// custom text color
.has-text-logia{
    color: $purple;
}


body {
    font-family: "Nunito", sans-serif;
}

// Custom button styles

.button{
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    &.is-primary {

    }
    &:active {
        transform: scale(0.95);
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    }
}